  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
  var socket = io.connect('http://localhost:3000');

  //socket.emit("post", "/api/posts", {"title":"from Client", "description":"sent from client"});

  </script>
  </body>
</html>
